<div>
  <app-main-header></app-main-header>
  <div class="container">
    <div class="card list-student">
      <h5 class="card-header">Alunos</h5>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Nota</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{student.name}}</td>
              <td>{{student.grade}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
